html, body {
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: aliceblue;
}
@font-face {
    font-family: "babeus neue";
    src: url(BebasNeue.otf);
}
aside {
    width: 15%;
    height: 100vh;
    display: inline-block;
    background-image: url("cosmos.jpg");
}
.contenu {
    width: 84%;
    display: inline-block;
    vertical-align: top;    
}
img {
    width: 250px;
    border: 2px solid black;
    box-shadow: 5px 5px 4px black;
    float: right;
    margin: 20px 20px 0 0;
}
h1 
    text-align: center;
    font-family: "babeus neue";
    font-size: 60px;
}
#poste {
    text-align: center;
    width: 100%;
    color: grey;
}
section {
    margin: 100px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.conteneur {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 29%;
    height: 300px;
}
h2 {
    font-family: "babeus neue";
    font-size: 30px;
    border-bottom: 2px solid blue;
    width: 100%;
}